/* UTILITIES */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

}
:root{
    --primary-color: rgb(58, 74, 219);
}

/* HEADER */
header{
    background-color: #FFF9F4;
}
/* TOP BANNER */
.bg-button{
    background-color: var(--primary-color);
}

@media (max-width: 575.98px) {
    .banner__image{
        order: 2;
        width: 100%;
        height: 100%;
    }
    .banner__image img{
        width: 100%;
        height: 100%;
    }
    .banner__text{
        order: 1;
    }
    .contact__image{
        width: 100%;
        height: 100%;
    }
}